@{
    ViewBag.Title = "查詢結果";
}

<h2>SearchOrder</h2>

<table>
    <th>訂單編號</th>
    <th>客戶名稱</th>
    <th>訂購日期</th>
    <th>發貨日期</th>
    <th>運費</th>
    </tr>
    @foreach (var items in ViewBag.Result)
    {
        <tr>
            <td>@items.OrderID</td>
            <td>@items.CustomerID</td>
            <td>@items.OrderDate</td>
            <td>@items.ShippedDate</td>
            <td>@items.Freight</td>
        </tr>
    }

</table>

