@{
    ViewBag.Title = "查詢結果";
}

<h2>SearchOrder</h2>

<table>
    <tr>
        <td>訂單編號</td>
        <td>客戶名稱</td>
        <td>訂購日期</td>
        <td>發貨日期</td>
        <td>運費 @ViewBag.test</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var items in ViewBag.Result)
    {
    <tr>
        <td>@items.OrderID</td>
        <td>@items.CustomerID</td>
        <td>@items.OrderDate.ToString("yyyy/MM/dd")</td>
        <td>@items.ShippedDate.ToString("yyyy/MM/dd")</td>
        <td>@items.Freight</td>
        <td>修改</td>
        <td>刪除</td>
    </tr>
    }

</table>

